<h1>Names: </h1>
<ul *ngFor= "let name of names">
   
    <li>{{name}}</li>
</ul>

<div class="container"> 
<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of employees">
            <td>{{emp.empId}}</td>
            <td>{{emp.empName}}</td>
            <td>{{emp.age}}</td>
        </tr>
    </tbody>
</table>
</div>