<!-- *****************REACTIVE FORM********************* -->

<div class="container">
    <div align="center">
        <img src="../../../assets/img/grocery2.png" alt="Grocery logo" width="150px"></div>
<h1 align="center" class="p-3 mb-2 bg-success text-white rounded-pill shadow-lg p-3 mb-5 bg-success rounded" >Login</h1>
<p># Form using form-builder, form-control and validators</p>
<form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)">
    <div class="form-group">
      <label for=""><b> Email</b></label>
      <input type="email" class="form-control" formControlName="email"/>
    </div>
    <div class="form-group">
        <label for=""><b> Password</b></label>
        <input type="password" class="form-control" formControlName="password" [class.is-invalid]="userForm.get('password').invalid && userForm.get('password').touched" required/>
      </div>
      <div *ngIf="userForm.get('password').invalid && userForm.get('password').touched">
        <small class="text-danger" *ngIf="userForm.get('password').errors.required">*This is required field</small>
        <small class="text-danger" *ngIf="userForm.get('password').errors.minlength">*Min length entered should be greater than 3</small>
        <small class="text-danger" *ngIf="userForm.get('password').errors.maxlength">*Max length entered should be smaller than 10</small>
    </div>
  <input type="submit" value="Login" class="btn btn-primary" />
  <a class="nav-link" href="register/">Register: New User</a>
</form>
</div>

<a routerLink="/reactiveForm" class="btn btn-success my-2 my-sm-0" type="submit">Load Reactive Form</a>
