<h1> <b> <u> App Component </u></b></h1> <br>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Salary</th>
            <th>Date of Birth</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td>{{employee.empId}}</td>
            <td>{{employee.name | uppercase | link : employee.gender}}</td>
            <td>{{employee.gender}}</td>
            <td>{{employee.salary | currency : 'INR'}}</td>
            <td>{{employee.dateOfBirth | date : 'longDate'}}</td>
        </tr>
    </tbody>
</table>
<br><br>
<h1>Employee Component</h1>
<app-employee></app-employee>


<br><br>
<h1>Employee-List Component</h1>
<app-employee-list></app-employee-list>

